<body >
    <main>
    <div class="container">
        <div class="row">
            <div class="col s12 l4 offset-l4 xl4 offset-xl4">
                <div class="card-panel  blue-grey lighten-3 right-align screen">
                    <span class="black-text result">0</span>
                </div>
                <div class="buttons">
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">C</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">+/-</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">%</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light orange accent-3 btn">&divide;</button></div>
    
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">7</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">8</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">9</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light orange accent-3 btn">*</button></div>
    
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">4</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">5</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">6</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light orange accent-3 btn">-</button></div>
    
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">1</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">2</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">3</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light orange accent-3 btn">+</button></div>
    
                    <div class="col s6"><button type="button" class="waves-effect waves-light btn btn-special">0</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light btn">.</button></div>
                    <div class="col s3"><button type="button" class="waves-effect waves-light orange accent-3 btn">=</button></div>
    
                </div>
            </div>
        </div>
    </div>
    </main>
        
    </body>
    